.container,
.form-container{
  text-align: center;
  padding:100px;
  margin:100px;
  border: solid .25px #e1e1e1;
  box-shadow: 0 0 50px #666;
  background-color: #ffffff;
  height: 300px;
}

.mensaje-error{
  color:red;
  margin-bottom: 20px;
}

.input-form{
  margin-bottom: 5px;
}

.label-form{
  color:blue;
  margin: 5px;
}

.boton-form{
  margin:10px;
  height:30px;
  border: solid 1px blue; 
}

button.previous{
  color:blue;
  background-color: #ffffff;
}

button.next{
  color:#ffffff;
  background-color:blue;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
}

p.mensaje-success{
  font-size:30px; 
  color:blue; 
  margin-top:15px;
}

.icono-success{
  font-size:70px; 
  color:cyan;
}
